

// @font-face {
//   font-family: 'KronaOne';
//   src: url(../fonts/Krona_One/KronaOne-Regular.ttf);
// }

$fonts: 'PlayfairDisplay-Black', 'PlayfairDisplay-BlackItalic', 'PlayfairDisplay-Bold', 'PlayfairDisplay-BoldItalic', 'PlayfairDisplay-Regular', 'PlayfairDisplay-Italic';

@each $font in $fonts {
 @font-face {
   font-family: $font;
   // src: url(../fonts/#{$font}.eot); /* IE9 Compat Modes */
   src: url(../fonts/#{$font}.ttf)  format('truetype'), /* Safari, Android, iOS */
         // url(../fonts/#{$font}.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         // url(../fonts/#{$font}.woff2) format('woff2'), /* Super Modern Browsers */
         // url(../fonts/#{$font}.woff) format('woff'), /* Pretty Modern Browsers */

         // url(../fonts/#{$font}.otf) format("opentype"),
         // url(../fonts/#{$font}.svg#svgFontName) format('svg'); /* Legacy iOS */
   }
}
