<div class="container-fluid cookie">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
      <p class="col-12 cookie__text">
        <br>
        <img src="/img/icon_cookie.svg" alt="Zamknij" class="cookie__icon" >
        TA STRONA UŻYWA COOKIES.
        <br>
        Korzystając ze strony wyrażasz zgodę na używanie cookies, zgodnie z aktualnymi ustawieniami przeglądarki.
        <br>
        Zobacz naszą <a href="">Politykę Prywatności...</a>
      </p>
      <div class="cookie__close">
        <img src="/img/icon_close.svg" alt="Zamknij" class="cookie__close__icon" >
      </div>
    </div>
  </div>
</div>
