<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <ul class="col-12 footer__list d-flex justify-content-center align-items-between">
        <li class="footer__list__item"><a href="" class="footer__list__item">O mnie</a></li>
        <li class="footer__list__item"><a href="" class="footer__list__item">Oferta</a></li>
        <li class="footer__list__item"><a href="" class="footer__list__item">Pobierz cennik</a></li>
        <li class="footer__list__item"><a href="" class="footer__list__item">Regulamin</a></li>
        <li class="footer__list__item"><a href="" class="footer__list__item">Polityka prywatności</a></li>
      </ul>
    </div>
  </div> <!-- container end -->
</footer>

</body>
</html>
