<div class="navigation container-fluid">
  <div class="container">
    <div class="row d-flex flex-column flex-md-row justify-content-between align-items-center">

      <a href="#" class="navigation__link">
        <img src="/img/logo.png" alt="Logo Gabinet Sylwia Shawket" class="navigation__link__logo">
      </a>

      <nav class="nav">
        <ul class="nav__list d-flex flex-column flex-md-row justify-content-between align-items-center">
          <li class="nav__list__item"><a href="#about">O mnie</a></li>
          <li class="nav__list__item"><a href="#offer">Oferta</a></li>
          <li class="nav__list__item"><a href="#contact">Kontakt</a></li>
        </ul>
      </nav>

      <!-- <a href="http://www.facebook.com" class="navigation__link">
        <img src="/img/facebook.svg" alt="FunPage Gabinetu" class="navigation__link__social">
      </a> -->

      <a href="sylwia.shawket@gmail.com" class="navigation__link">
        <img src="/img/phone.svg" alt="Telefon kontaktowy" class="navigation__link__social">
        660 046 696
      </a>

    </div>
  </div>
</div>
