.about {
  background: $bg-pink;
  margin-top: 20px;
  min-height: 600px;
  position: relative;
  &__header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    padding: 100px 50px 50px;
    text-transform: uppercase;
  }
  &__text {

  }
  &__img {
    max-width: 250px;
  }
}
