.about {
  background: $bg-pink;
  margin-top: 500px;
  min-height: 600px;
  position: relative;
  &__header {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    padding: 100px 50px 50px;
    text-transform: uppercase;
  }
  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 30px;
    padding: 0 50px;
    &__paragraph {
      padding: 10px 0;
    }
  }
  &__img {
    max-width: 250px;
  }
}
