.contact {
  background: $bg;
  margin-top: 50px;
  padding-bottom: 100px;

  &__box {
    &__wrapper {
      width: 60px;
      height: 30px;
      margin: 10px 0;
    }
    &__img {
      max-width: 100%;
      height: auto;
    }
    &__paragraph {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      line-height: 30px;
      text-transform: uppercase;
    }
    &__link {
      height: 60px;
    }
    &__text {
      height: 60px;
    }
  }
}
