.footer {
  background: $white;
  height: 60px;
  &__list {
    height: 60px;
    &__item {
      padding: 20px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
